// Override default variables before the import
:root {
  --main-white: #ffffff;
  --main-dgrey: #343e3d;
  --main-lgrey: #607466;
  --main-pink: #f194b4;
  --main-blue: #0056e2;
}
$body-bg: #ffffff;
// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
